.items, .board{
    border: 1px solid black;
    width: 200px;
    margin: 20px auto;
    padding: 5px;
    text-align: center;
}

.board{
    border: 3px solid black;
    margin: 20px 0;
    min-height: 300px;
    min-width: 200px;
}

.items div, .board div{
    border: 1px solid black;
    padding: 5px;
}